<div class="corpoLogin">
    <div>
        <!-- Area do titulo -->
        <div class="titulo">
            <span>Login</span>
        </div>

        <!-- Area da inclusao dos dados -->
        <div class="dados">
            <div class="dadosAreaEntradaTexto">
                <label for="usuario">
                    Usuário:
                </label>
                <input type="text" name="usuario" id="usuario" placeholder="Digite o seu usuário" [(ngModel)]="login">
            </div>
            <div class="dadosAreaEntradaTexto">
                <label for="senha">
                    Senha:
                </label>
                <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" [(ngModel)]="senha">
            </div>
        </div>

        <!-- Area dos botoes -->
        <div class="botoes">
            <button class="btn btn-verde" (click)="logar()">Entrar</button>
        </div>
    </div>
</div>