<div class="container">
  <div class="titulo">
    <span>Agendamento</span>
  </div>
  <div class="conteudo">
    <div class="calendario">
      <div class="calendario-container">
        <div class="calendario-header">
          <label for="year-select">Ano:</label>
          <select id="year-select" [(ngModel)]="this.selectedAno" (change)="atualizarDias()">
            <option *ngFor="let year of anos" [value]="year">{{ year }}</option>
          </select>
          <label for="month-select">Mês:</label>
          <select id="month-select" [(ngModel)]="this.selectedMonth" (change)="atualizarDias()">
            <option *ngFor="let month of meses" [value]="month.value">{{ month.name }}</option>
          </select>
        </div>
        <div class="calendario-body">
          <div *ngFor="let day of diasMes" 
               class="calendario-day" 
               [class.selected]="day === selectedDay" 
               (click)="selecionarDia(day)">
            {{ day }}
          </div>
        </div>
      </div>
    </div>
    <div class="lista-agendamentos">
      <div class="lista-agendamentos-container">
        <div class="lista-agendamentos-header">
          <span>Horários</span>
        </div>
        <div class="lista-agendamentos-titulos">
          <span>Cliente/Animal</span>
          <span>Hora</span>
          <span>Concluir</span>
        </div>
        <ul>
          <li *ngFor="let agendamento of listaAgendamentos">
            <span>{{ nomeCliente(agendamento.idCliente) }} - {{ nomeAnimal(agendamento.idAnimal) }}</span>
            <span>{{ agendamento.horaAgendamento }}</span>
            <button class="btn btn-verde" (click)="confirmarAgendamento(agendamento.idAgendamento)">OK</button>
          </li>
        </ul>
        <button class="adicionar-agendamento btn btn-verde" (click)="adicionarAgendamento()">Adicionar agendamento</button>
      </div>
    </div>
  </div>
</div>